@font-face {
    font-family: "socialico";
    src: url("fonts/Socialico/Socialico.eot");
    src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg");
}
@font-face {
    font-family:'Montserrat';
    src: url('fonts/Montserrat/Montserrat Bold.eot');
	src: url('fonts/Montserrat/Montserrat Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Montserrat/Montserrat Bold.woff2') format('woff2'),
		url('fonts/Montserrat/Montserrat Bold.woff') format('woff'),
		url('fonts/Montserrat/Montserrat Bold.svg#Montserrat Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Montserrat';
    src: url('fonts/Montserrat/Montserrat Regular.eot');
	src: url('fonts/Montserrat/Montserrat Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/Montserrat/Montserrat Regular.woff2') format('woff2'),
		url('fonts/Montserrat/Montserrat Regular.woff') format('woff'),
		url('fonts/Montserrat/Montserrat Regular.svg#Montserrat Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
@font-face {
    font-family:'Montserrat';
    src: url('fonts/Montserrat/Montserrat SemiBold.eot');
	src: url('fonts/Montserrat/Montserrat SemiBold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Montserrat/Montserrat SemiBold.woff2') format('woff2'),
		url('fonts/Montserrat/Montserrat SemiBold.woff') format('woff'),
		url('fonts/Montserrat/Montserrat SemiBold.svg#Montserrat SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
@font-face {
    font-family:'Montserrat';
    src: url('fonts/Montserrat/Montserrat Medium Italic.eot');
	src: url('fonts/Montserrat/Montserrat Medium Italic.eot?#iefix') format('embedded-opentype'),
		url('fonts/Montserrat/Montserrat Medium Italic.woff2') format('woff2'),
		url('fonts/Montserrat/Montserrat Medium Italic.woff') format('woff'),
		url('fonts/Montserrat/Montserrat Medium Italic.svg#Montserrat Medium Italic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1400px;margin: 0 auto;text-align: center;font-family: "Montserrat"}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1100px;margin: 0 auto}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/* grids */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }
.socialico{font-family: "socialico"}

/* icons */
.bg-email {width: 56px; height: 50px;background: url('../images/common/css_sprites.png') -10px -10px;}
.bg-hdphone {width: 24px; height: 20px;background: url('../images/common/css_sprites.png') -86px -80px;}
.bg-location {width: 56px; height: 50px;background: url('../images/common/css_sprites.png') -86px -10px;}
.bg-phonecall {width: 51px; height: 51px;background: url('../images/common/css_sprites.png') -162px -10px;}
.bg-quote {width: 29px; height: 24px;background: url('../images/common/css_sprites.png') -162px -81px;}
.bg-wcphone {width: 24px; height: 20px;background: url('../images/common/css_sprites.png') -10px -150px;}
.bg-phone {width: 56px; height: 50px;background: url('../images/common/css_sprites.png') -10px -80px;}

/*button*/
.btn {font-family: "Montserrat"; font-size: 17px; font-weight: 400; color: #fff; display: inline-block; padding: 7.5px 15px; background: #FF7F00; border: 1px solid transparent; transition: all 0.5s ease;}
.btn:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom{font-size: 14px; padding: 5px 10px; position: fixed; display: block!important; transform: none!important; bottom: 0!important; left: 20px!important;}

/*call to action*/
.destroy-on-load, .cta {display: none;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: .42857; margin-bottom: 20px;padding: 4px;transition: border 0.5s ease-in-out 0s;}
#content .thumbnail:hover {transform: scale(1.02);}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-family:"Old Standard TT"; font-size: 68px;font-weight: 700;color:#000;}
h2 {font-family:"Old Standard TT"; font-size: 42px;font-weight: 700;color:#000;}

/*header*/
#header {position: relative; z-index: 9999}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 0}
#header nav ul li {display: inline-block;vertical-align: middle;}
#header nav ul li a {position: relative;font-family: "Montserrat"; font-weight:400; font-size: 17px; color: #333333; position: relative; margin-left: 60px;}
#header nav ul li.active-menu a, #header nav ul li a:hover {color:#307F31;}
#header nav ul li.active-menu a::after, #header nav ul li a:hover::after{content: ""; width: 0;height: 0;border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 12px solid #FF7F00; position: absolute; bottom: -25px; left: 50%;transform: translateX(-50%);}
.hdTop{text-align: center;}
.hdTop p{margin: 0 0 0 auto; font-family: "Old Standard TT"; font-weight: 700; font-size: 35px; color: #ffffff;background: #FF7F00; padding: 10px 0;max-width: 310px}
.hdBot{background: url(../images/common/bgHeader.png)no-repeat center top; background-size: 100% 100%; padding: 18.5px 0;text-align: right;}
.hdBot::after{content: "";width: 31%;height: 64px;top: 63px;right: 0;background: rgba(255,255,255,1);position: absolute;z-index: -1;}
/*banner*/
#banner {background: url(../images/common/bgBanner.jpg)no-repeat center top;background-size: 100% 100%;padding: 200px 0 450px; position: relative; margin-top: -126px;text-align: left;}
#banner img{max-width: 489px; width: 100%; margin: 0 auto 0 0;}
/*content*/
#services {position: relative; margin-top: -332px;padding: 0 0 56px;}
#services h1{color: #fff;margin-bottom: 12px;}
#services .svc-images dl {position: relative;}
#services .svc-images dl::before{content:"";width: 0;height: 0;border-left: 10px solid transparent;border-right: 10px solid transparent;border-top: 12px solid #FF7F00; position: absolute; top: -25px; left: 50%;transform: translateX(-50%);}
#services .svc-images dl dd{margin: 0;}
#services .svc-images dl dd p{font-family: "Montserrat"; font-weight: 600; font-size: 30px; color: #333333;margin: 0;}
#services .svc-images dl dd .btn{margin-top: 10px;}
#services h2{color: #307F31;margin-top: 80px;}
#services p{font-family: "Montserrat"; font-weight: 600; font-size: 44px; color: #FF7F00;margin: 0;}

#about{position: relative;}
.aboutTop{background: url(../images/common/bg1.jpg)no-repeat center top; background-size: cover; padding: 57px 0 69px;text-align: right;}
.aboutTopRight h1{font-size: 53px; line-height: 66px;color: #fff;}
.aboutTopRight h2{font-family: "Montserrat"; font-size: 31px; line-height: 39px;color: #fff;letter-spacing: 2px;}
.aboutTopRight p{font-family: "Montserrat"; font-weight: 400; font-size: 16px; line-height: 25px; margin: 20px 0 0 auto;color: #fff;max-width: 463px}
.aboutBot{background: url(../images/common/bg2.jpg)no-repeat center top; background-size: cover; padding: 63px 0 53px;text-align: left; }
.aboutBotLeft h1{font-size: 43px; color: #fff; line-height: 46.5px;margin-left: -85px;}
.aboutBotLeft p{font-family: "Montserrat"; font-weight: 400; font-size: 16px; line-height: 25px; margin: 20px auto 16px -85px;color: #fff;max-width: 463px}
.aboutBotLeft .btn{margin-left: -85px;}

#projects{padding: 54px 0 72px;}
#projects h1{letter-spacing: 3px; line-height: 83px; position: relative;}
#projects h1::after{content: ""; width: 41px; height: 5px; background: #DDDDDD; position: absolute; bottom: -5px; left: 50%;transform: translateX(-50%);}
#projects h1 span.green{color: #307F31;}
#projects h1 span.orange{color: #FF7F00;}
#projects .container{margin-top: 25px;}
#projects .container img{display: inline-block; vertical-align: top;box-shadow: 0 15px 40px -20px}
#projects .container img:nth-of-type(2){margin: 0 23px;}

#testimonials .row{max-width: 1440px}
.testLeft.col-6{width: 47.5%;}
.testRight.col-6{width: 40.55555555555556%;}
.testRight{padding: 36px 0 36px;}
.testRight .container{padding: 30px 0 25px 0;border: 2px solid #DDDDDD;text-align: left;}
.testRight .container p{position: relative;margin: 0 29px 13px 86px;line-height: 25px; font-family: "Montserrat"; font-size: 16px; color: #333333; font-weight: 600; font-style: italic;max-width: 463px}
.testRight .container p span{font-size: 20px; color: #D2D200;display: block;font-style: normal;margin-bottom: 13px;}
.testRight .container p::before{content:"";width: 29px; height: 24px;background: url('../images/common/css_sprites.png')repeat-y -162px -81px;position: absolute; top: 44px; left: -50px;}
.testRight .container .btn{margin: 0 0 0 86px;}
/*footer*/
#footer {background: url(../images/common/bgFooter.jpg)no-repeat center top; background-size:cover;padding: 332px 0 19px}
.footTop img{max-width: 337px; width: 100%; margin: 0 auto;}
.footMid{text-align: left;}
.footMid .container{margin: 61px 0 0 0;}
.footMid .details{max-width: 406px; margin: 0 auto 20px;}
.footMid .details img, .footMid .details p{display: inline-block;vertical-align: top;}
.footMid .details p span{font-family: "Montserrat"; font-weight: 400; font-size: 17px; color: #53BD56;display: block;}
.footMid .details p{margin: 0 0 0 21px ; font-family: "Old Standard TT"; font-weight: bold; font-size: 23px; color: #fff;}
.footMid .details p.phone{font-size: 40px}
.footMid .details p.social{display: inline-block;vertical-align: bottom;font-size: 40px; margin: 0; letter-spacing: 22px; font-weight: 400; color: #fff;}
.footMid {margin-bottom: 40px;}

.footBot{background: rgba(255,127,0,0.8);padding: 20px 0;}
.footBot ul {margin: 0;padding: 0}
.footBot ul li {display: inline-block;vertical-align: middle;}
.footBot ul li a {position: relative;font-family: "Montserrat"; font-weight:400; font-size: 17px; color: #fff; position: relative; margin: 0 30px;}

#footer .silver, #footer .copy{font-family: "Montserrat"; font-size: 13px; font-weight: 700; color: #fff;}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}


/*inner pages*/
.inner #content {min-height: 400px;padding: 40px 0}

/*privacy policy*/
.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}


/** Responsive
-------------------------------------------------------*/

/*
@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
}

@media screen and (max-width: 800px){
  [class*="col-"] {
    width: 100% !important;
  }
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}

	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}*/
